@media only screen and (max-width: 576px) {
    nav{
        display: block;

    }
    .container-nav{
        display:flex ;
        flex-direction: column;
        align-items: center;
    }
    .container-main1 {
        display: block;
        margin-top: 50px;
    }
    nav>div:nth-child(1)>h2 {
        font-size: 20px;
        font-weight: 600;
        color: var(--text-nav-color);
        text-shadow: 0 3px 2px#AAAAAA;
        margin: 0;
    }
    nav>div:nth-child(2)>ul>li {
        margin: 20px 30px;
    }
    .container-banner {
        display: block;
        justify-content: center;
    }
    .container-nav h2 {
        /* margin-top: 50px; */
    }
    .banner-rigth {
        display: block;
        flex-direction: column;
        /* padding: 20px; */
        margin: 70px 30px;
        /* text-align: start; */
        /* width: 40%; */
    }
    .hr {
        display: block;
        background-color: #EEEFF2;
        color: #EEEFF2;
        /* -webkit-transform: rotate(90deg); */
        /* width: 8000px; */
        height: 50px;
        /* border: 10px; */
        margin: 10px;
    }
    .item-header-bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 10px;
        padding: 20px;
    }
    .img-main {
        display: block;
        /* margin-right: 150px; */
    }
    .item-footer {
        width: 200px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        color: var(--text-secondary-color);
    }
}