
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --text-primary-color: #140B2A;
    --text-secondary-color: #4F5665;
    --btn-color: #F53855;
    --text-nav-color: #AAAAAA;
    --text-color-banner: #0B132A;
    --text-ligth: #FFFFFF;



}

body {
    margin: 0;
    font-family: 'Rubik', Courier, monospace;
}

nav {
    display: flex;
    justify-content: space-around
}

.container-nav {
    display: flex;
}

nav>div:nth-child(2)>ul {
    display: flex;
    list-style: none;
}

nav>div:nth-child(2)>ul>li {
    margin: 40px;

}

nav>div:nth-child(2)>ul>li>a {
    text-decoration: none;
    color: var(--text-secondary-color);
}

.container-nav h2 {
    margin-top: 50px;
}

.btn-nav {
    color: var(--btn-color);
    background-color: white;
    width: 150px;
    height: 45px;
    margin-top: 40px;
    margin-left: 20px;
    border: 1px #F53855 solid;
    border-radius: 25px;
    font-size: 20px;
}

nav>div:nth-child(3)>h2 {
    font-size: 20px;
    font-weight: 400;
    color: var(--text-primary-color);
}

nav>div:nth-child(1)>h2 {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-nav-color);
    text-shadow: 0 3px 2px#AAAAAA;
}

nav>div:nth-child(3)>h2 {
    font-size: 20px;
    font-weight: 400;
    color: var(--text-primary-color);

}

.container-banner {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 55px;
    color: var(--text-color-banner);
}

.banner-left {
    display: flex;
    flex-direction: column;
    padding: 20px;

    margin: 100px;
    text-align: start;
    width: 40%;
}

.p-banner {
    font-size: 25px;
    color: var(--text-secondary-color);
}

.btn-banner {
    color: var(--text-ligth);
    background-color: var(--btn-color);
    width: 250px;
    height: 60px;
    margin-top: 40px;
    font-size: 15px;
    border: none;
    box-shadow: 1px 15px 18px 1px #F5383859;
    font-weight: 900;
}

.banner-rigth {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 70px 30px;
    text-align: start;
    width: 40%;
}

.header-bottom {
    display: flex;
    width: 300px;
}

.item-header-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px;
    padding: 20px;
}

.hr {
    background-color:#EEEFF2;
    color: #EEEFF2;
    -webkit-transform: rotate(90deg);
    width: 100px;
    height: 2px;
    left: 130px;
    border: 2px;
    margin: 50px;
}
.container-header-bottom{
    display: flex;
    justify-content: center;
    align-items: center;

}
.container-main1{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.img-main{
    margin-right: 150px;
}
.title-main{
    width: 500px;
}
.list{
    list-style: url(/aseets/imagenes/icon-main.svg);

}
p:hover{
    color: #F53855;
}
.list>li>p{
    color: var(--text-secondary-color);
    font-size: 14px;
    margin: 10px;

    
}
#title-main{
    font-size: 45px;
    color: var(--text-color-banner);
}
#p-main{
    font-size: 16px;
    color: var(--text-secondary-color);
}
.container-main-plan{
    display: flex;
    justify-content: center;
}
.title-plan{
    text-align: center;
    margin-top: 100px;
    width: 500px;
}
.title-plan>h2{
    font-size: 35px;
    color: var(--text-primary-color);
}
.title-plan>p{
    font-size: 20px;
    color: var(--text-secondary-color);
}
.icon-main{
    width: 144px;
    height: 165px;
}
.item-plan{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 700px;
    width: 330px;
    padding: 0 20px;
    border: 2px solid #DDDDDD;
    margin-top: 50px;
}
.item-plan>div:nth-child(1)>ul{
    list-style: url(/aseets/imagenes/icon-lista-plan.svg);
}
.item-plan>div:nth-child(2)>button{
    color: var(--btn-color);
    background-color: white;
    width: 150px;
    height: 45px;
    border: 2px #F53855 solid;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 600;
}
.plan{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plan-button{
    text-align: center;
}
.container-plan{
    display: flex;
    justify-content: center;
}
main>div:nth-child(2)>div:nth-child(2)>div:nth-child(2){
    border: none;
}
main>div:nth-child(2)>div:nth-child(2)>div:nth-child(3){
    border: 2px solid var(--btn-color);
}
main>div:nth-child(2)>div:nth-child(2)>div:nth-child(3){
    border: 2px solid var(--btn-color);
}
main>div:nth-child(2)>div:nth-child(2)>div:nth-child(3)>div:nth-child(2)>button{
    background-color: var(--btn-color);
    color: var(--text-ligth);
    box-shadow: 1px 10px 11px 0px #F5383859;
}
.container-footer{
    display: flex;
    margin-top:100px;
    justify-content: space-around;
}
.container-footer>div:nth-child(4){
    height: 200px;

}

.item-footer{
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--text-secondary-color);

}
.item-footer>a{
    text-decoration: none;
    color: var(--text-secondary-color);

}
.container-footer-title{
    display: flex;
}
.container-footer-title>h3{
    margin: 10px;
}

.container-footer-icon{
    display: flex;
    justify-content: flex-start;
}
.footer-icon{
    background-color: var(--text-ligth);;
    margin-right: 10px;
    border-radius: 25px;
    border: none;
    box-shadow: 1px 3px 8px 0px #0B132A;
    padding: 2px;
}
svg{
    fill: #F53855;
    stroke: white;
    stroke-width: 1;
}
.finaly-footer{
    display: flex;
    height: 400px;
    flex-direction: column;
    justify-content: space-around;
}
.finaly-footer>a{
    text-decoration: none;
    color: var(--text-secondary-color);

}